@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  background-color: #3B4664;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Popins', sans-serif;
}

.calculator {
  padding: 20px;
  border-radius: 10px;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191a32;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 40px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

#result {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 2rem;
  text-align: right;
  width: 100%;
  height: 20vh;
}

.span{
  margin-bottom: 10px;
  color: #ccc;
  font-size: 1rem;
}


.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: #252D44;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

.button {
  background-color: #e0d5d0;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 1em;
  cursor: pointer;
}

.button:hover{
  background-color: #ebdbd4;
}

#del{
  background-color: #6d819c;
}

#reset{
  background-color: #6d819c;
  grid-column: span 2;
}

#equals {
  background-color: #e57d72;
  min-width: fit-content;
  grid-column: span 2;
}

